{% extends 'base.html' %}
{% block title %}Lịch sử đặt vé - Galaxy Cinema{% endblock %}
{% block content %}
<style>
    .title-h3{
        text-align: center;
        margin-bottom: 35px;
    }
    .movie-list {
      padding: 30px 20px;
    }

    .movie-item {
      background: #fff;
      border-radius: 15px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      margin: 25px 170px;
      overflow: hidden;
      display: flex;
      align-items: flex-start;
      padding: 25px;
      gap: 20px;
    }

    .movie-poster {
      width: 180px;
      height: 240px;
      background-size: cover;
      background-position: center;
      border-radius: 10px;
    }

    .movie-info {
      flex: 1;
    }

    .movie-title, .booking-total-price {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
      color: #333;
    }
    .booking-total-price {
        text-align: right;
    }
    .movie-genre {
      font-size: 16px;
      color: #888;
      margin-bottom: 15px;
    }
    .screening-time, .screening-date, .booking-time {
      font-size: 16px;
      color: #333;
      margin-bottom: 15px;
    }

  </style>
    <div style="margin-top: 100px">
    <h3 class="hny-title title-h3">Lịch sử đặt vé</h3>
    <div class="history-list">
        {% if bookings %}
            {% for booking in bookings %}
                <div class="movie-item" onclick="window.location='/e-ticket?booking_id={{ booking.id }}'">
                    <div class="movie-poster" style="background-image: url('{{ booking.movie.image_ava }}')"></div>
                    <div class="movie-info">
                        <div class="movie-title">{{ booking.movie.title }}</div>
                        <div class="movie-genre">{{ booking.movie.genre }}</div>
                        <div class="screening-time">Suất: {{ booking.screening.screening_time }}</div>
                        <div class="screening-date">Ngày: {{ booking.screening.screening_date }}</div>
                        <div class="booking-time">Thời gian đặt vé: {{ booking.booking_time }}</div>
                        <div class="booking-total-price">Tổng: {{ booking.total_price }}0 VND</div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>Không tìm thấy lịch sử đặt vé.</p>
        {% endif %}
    </div>
</div>

{% endblock %}
