{% extends 'base.html' %}
{% block title %}Trang chủ - Galaxy Cinema{% endblock %}
{% block content %}

	<!-- main-slider -->
	<section class="w3l-mid-slider position-relative">
		<div class="companies20-content">
            <div class="owl-mid owl-carousel owl-theme">
            </div>
        </div>
	</section>
    <script>
        function loadTrailer_nowShowing() {
            $.ajax({
                url: '/api/movies?status=now_showing',
                method: 'GET',
                success: function(movies) {
                    if (movies.length > 0) {
                        $.each(movies.slice(0, 3), function (index, movie) {
                            let movieHTML = `
                            <div class="item">
                                    <div class="slider-info mid-view mid-top2 bg bg2" style="background-image:url('${movie.image_cover}'); margin-top: 70px; min-height: 600px">
                                        <div class="container">
                                            <div class="mid-info">
                                                <h3>${movie.title}</h3>
                                                <p>${movie.duration}p</p>
                                                <a href="#small-dialog${movie.id}" class="popup-with-zoom-anim play-view1">
                                                    <span class="video-play-icon">
                                                        <span class="fa fa-play" aria-hidden="true"></span>
                                                    </span>
                                                    Xem Trailer
                                                </a>
                                                <div id="small-dialog${movie.id}" class="zoom-anim-dialog mfp-hide" style="max-width: 80vw">
                                                    <iframe src="${movie.trailer}"  allow="autoplay; fullscreen" style="width: 80vw; height: 80vh"></iframe>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>`;
                            $('.owl-mid').append(movieHTML);
                        });

                        $('.owl-mid').owlCarousel({
                            loop: true,
                            margin: 0,
                            nav: false,
                            responsiveClass: true,
                            autoplay: true,
                            autoplayTimeout: 5000,
                            autoplaySpeed: 1000,
                            autoplayHoverPause: false,
                            responsive: {
                                0: {
                                    items: 1,
                                    nav: false
                                },
                                480: {
                                    items: 1,
                                    nav: false
                                },
                                667: {
                                    items: 1,
                                    nav: true
                                },
                                1000: {
                                    items: 1,
                                    nav: true
                                }
                            }
                        });
                        $('.popup-with-zoom-anim').magnificPopup({
                            type: 'inline',

                            fixedContentPos: false,
                            fixedBgPos: true,

                            overflowY: 'auto',

                            closeBtnInside: true,
                            preloader: false,

                            midClick: true,
                            removalDelay: 300,
                            mainClass: 'my-mfp-zoom-in'
                        });
                    }
                },
                error: function(error) {
                    console.error('Error', error);
                }
            });
        }

    </script>
	<!-- main-slider -->
	<!--grids-sec1-->
	<section class="w3l-grids">
		<div class="grids-main py-5">
			<div class="container py-lg-3">
				<div class="headerhny-title">
					<div class="w3l-title-grids">
						<div class="headerhny-left">
							<h3 class="hny-title">Phim đang chiếu</h3>
						</div>
						<div class="headerhny-right text-lg-right">
							<h4><a class="show-title" href="/now_showing/">Xem tất cả</a></h4>
						</div>
					</div>
				</div>
				<div class="w3l-populohny-grids">

				</div>
			</div>
		</div>
	</section>
    <script>
        function loadMovie_nowShowing() {
            $.ajax({
                url: '/api/movies?status=now_showing',
                method: 'GET',
                success: function(movies) {
                    if (movies.length > 0) {
                        $.each(movies.slice(0, 8), function (index, movie) {
                            let movieHTML = `
                            <div class="item vhny-grid">
                                <div class="box16">
                                    <a href="/details?movie_id=${movie.id}">
                                        <figure>
                                            <img class="img-fluid" src='${movie.image_ava}' alt="">
                                        </figure>
                                        <div class="box-content">
                                            <h3 class="title" style="padding: 0">${movie.title}</h3>
                                            <h4> <span class="post"><span class="fa fa-clock-o"> </span> ${movie.duration}</span></h4>
                                        </div>
                                    </a>
                                </div>
                            </div>`;
                            $('.w3l-populohny-grids').append(movieHTML);

                        });
                        $('.w3l-populohny-grids').trigger('refresh.owl.carousel');
                    }
                },
                error: function(error) {
                    console.error('Error', error);
                }
            });
        }
    </script>
	<!--grids-sec2-->
	<section class="w3l-grids">
		<div class="grids-main py-5" style="padding-top: 0 !important;">
			<div class="container py-lg-3">
				<div class="headerhny-title">
					<div class="w3l-title-grids">
						<div class="headerhny-left">
							<h3 class="hny-title">Phim sắp chiếu</h3>
						</div>
						<div class="headerhny-right text-lg-right">
							<h4><a class="show-title" href="/coming_soon/">Xem tất cả</a></h4>
						</div>
					</div>
				</div>
				<div class="owl-three owl-carousel owl-theme">


				</div>
			</div>
		</div>
	</section>

    <script>
        function loadMovie_coming_soon() {
            $.ajax({
                url: '/api/movies/?status=coming_soon',
                method: 'GET',
                success: function(movies) {
                    if (movies.length > 0) {
                        $.each(movies.slice(0, 8), function (index, movie) {
                            let movieHTML = `
                            <div class="item vhny-grid">
                                <div class="box16 mb-0">
                                    <a href="/details?movie_id=${movie.id}">
                                        <figure>
                                            <img class="img-fluid" src='${movie.image_ava}' alt="">
                                        </figure>
                                        <div class="box-content">
                                            <h4> <span class="post"><span class="fa fa-clock-o"> </span> ${movie.duration}</span></h4>
                                        </div>
                                    </a>
                                </div>
                                <h3> <a class="title-gd" href="/details?movie_id=${movie.id}">${movie.title}</a></h3>
                                <p>${movie.description}</p>

                            </div>`;
                            $('.owl-three').append(movieHTML);
                        });

                        $('.owl-three').owlCarousel({
                            loop: true,
                            margin: 20,
                            nav: false,
                            responsiveClass: true,
                            autoplay: true,
                            autoplayTimeout: 5000,
                            autoplaySpeed: 1000,
                            autoplayHoverPause: false,
                            responsive: {
                                0: {
                                    items: 2,
                                    nav: false
                                },
                                480: {
                                    items: 2,
                                    nav: true
                                },
                                667: {
                                    items: 3,
                                    nav: true
                                },
                                1000: {
                                    items: 5,
                                    nav: true
                                }
                            }
                        });
                    }
                },
                error: function(error) {
                    console.error('Error', error);
                }
            });
        }

    </script>

	<!-- footer-66 -->
	{% endblock %}
{% block extra_js %}



<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        loadTrailer_nowShowing();
        loadMovie_nowShowing();
        loadMovie_coming_soon();
    });
	$(document).ready(function () {
		//Horizontal Tab
		$('#parentHorizontalTab').easyResponsiveTabs({
			type: 'default', //Types: default, vertical, accordion
			width: 'auto', //auto or any width like 600px
			fit: true, // 100% fit in a container
			tabidentify: 'hor_1', // The tab groups identifier
			activate: function (event) { // Callback function if tab is switched
				var $tab = $(this);
				var $info = $('#nested-tabInfo');
				var $name = $('span', $info);
				$name.text($tab.text());
				$info.show();
			}
		});
	});
</script>

<!-- script for banner slider-->
<script>
	$(document).ready(function () {
		$('.popup-with-move-anim').magnificPopup({
			type: 'inline',

			fixedContentPos: false,
			fixedBgPos: true,

			overflowY: 'auto',

			closeBtnInside: true,
			preloader: false,

			midClick: true,
			removalDelay: 300,
			mainClass: 'my-mfp-slide-bottom'
		});
	});
</script>
<!-- disable body scroll which navbar is in active -->
<script>
	$(function () {
		$('.navbar-toggler').click(function () {
			$('body').toggleClass('noscroll');
		})
	});
</script>
<!-- disable body scroll which navbar is in active -->

<!--/MENU-JS-->
<script>
	$(window).on("scroll", function () {
		var scroll = $(window).scrollTop();

		if (scroll >= 80) {
			$("#site-header").addClass("nav-fixed");
		} else {
			$("#site-header").removeClass("nav-fixed");
		}
	});

	//Main navigation Active Class Add Remove
	$(".navbar-toggler").on("click", function () {
		$("header").toggleClass("active");
	});
	$(document).on("ready", function () {
		if ($(window).width() > 991) {
			$("header").removeClass("active");
		}
		$(window).on("resize", function () {
			if ($(window).width() > 991) {
				$("header").removeClass("active");
			}
		});
	});
</script>
{% endblock %}